@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Crimson Pro', sans-serif;
    display: flex;
    justify-content: center;
    height: auto;
    margin:20px;
}
  
.login-block, .signUp-block {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(168, 166, 166);
    width: 400px;
    text-align: center;
}

#logo {
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}
#google-logo {
    width: 20px;
    height: auto;
}
  

.login-block h1, .signUp-block h1 {
    margin-bottom: 20px;
}
  
.login-block input, .signUp-block input {
    align-items: center;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}
  
.login-block button, .signUp-block button {
    font-family: 'Crimson Pro', sans-serif;
    width: 100%;
    padding: 12px;
    background-color: #0063ba;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 6px;
    
}
.login-block .google-btn{
    font-family: 'Crimson Pro', sans-serif;
    width: 100%;
    padding: 12px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    color: black;
    font-size: 20px;
    border-radius: 6px;
}
  
.login-block button:hover, .signUp-block button:hover {
    background-color: #ffcc00;
}
.login-block .google-btn:hover{
    background-color: grey;
}

.login-text, .signup-text {
    font-size: 14px;
}
  
.login-text a, .signup-text a {
    color: #1c2dc9;
}



