@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Imperial+Script&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto";
    /*font-style: normal;*/
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header {
    font-family: "Roboto";
    font-style: normal;
    background-color:whitesmoke;
    border-bottom: 1px solid #ddd;
    height: 80px;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
}  
    

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
}

#logo{
    height:70px;
    width: auto;
}
a{
    text-decoration:none;
}

.nav-links li a, .nav-right a{
    color: #333;
    font-weight: 600;
    font-size: 16px;
}

.join-btn {
    padding: 6px 14px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
}

.join-btn:hover {
    background-color: #f0f0f0;
}


/* Nav-bar quando o utilizador está loged in*/

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

#profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* main page*/
.search-services{
    background-image: url('../docs/Background-navbar2.jpg');
    height: 25cm;
    width: 100%;
    background-repeat: no-repeat;      
    background-size: cover;
    margin: 0;
    padding: 400px 30px;
}

.search-services h2{
    font-size: 70px;
    color: #0063ba;
    padding-bottom: 15px;
}

.search-bar{
    width: 70%;
    height: 2cm;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 10px ;
    padding: 5mm; /* distancia da frase à search bar*/
    font-weight: bold;
}

.main-services{
    padding-top: 20px;
}

.main-services > *{
    width: 45mm;
    height: 15mm;
    border: 2px solid black;
    border-radius: 10px;
    background-color: transparent ;
    margin-right: 1cm;
    font-size: 15px;
    font-weight: bold;
}

/*Carolina*/

.product {
    background-color: whitesmoke;
}


.categories {
    padding: 20px 20px;
}
  
.categories h2 {
    text-align: left;
    font-family: 'Inter', serif;
    font-size: 32px;
    margin-bottom: 20px;
    color: #1a1a1a;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px; /* espaço entre texto e linha */
}
  
.categories button {
    text-align: center;
    width: 260px;
    height:75px;
    padding: 18px 25px;
    margin: 15px;
    font-size: 15px;
    background-color: #ffffff;
    color: #1a1a1a;
    border: rgb(213, 206, 206);
    border-radius: 10px;
    font-weight: 500;
    box-shadow: 0px 0px 10px rgb(212, 211, 211);
    cursor: pointer;
}
  
.categories button:hover {
    box-shadow: 0 0px 15px rgb(20, 67, 138);
    border-color: #bcbcbc;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 20px 20px;
    font-family: 'Inter', sans-serif;
}

.services h2 {
    width: 100%;
    text-align:left;
    font-family: 'Inter', serif;
    font-size: 32px;
    color: #1a1a1a;
    margin-bottom: 20px;
    border-bottom: 2px solid #e0e0e0;
}
  
.services button {
    width: 220px;
    height: 250px;
    background-color: #ffffff;
    border: rgb(213, 206, 206);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgb(189, 187, 187);
    cursor: pointer; /*cursor de clique */
}
  
.services button:hover {
    box-shadow: 0px 0px 10px rgb(20, 67, 138);
}
  
.services button img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 3px;
    margin: auto;
}
  
.services button span {
    margin-top: 6px;
    font-weight: 600;
    color: #1a1a1a;
    font-size: 16px;
}


footer {
    font-family: "Roboto", sans-serif;
    background-color: #012747;
    color: #fff;
    padding: 20px 50px;
}
.footer-content{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    row-gap: 20px;
}

.footer-bottom {
    grid-column: 1 / -1; 
}

.footer-column h3 {
    font-size: 1.1rem;
    margin-bottom: 15px;
    color: #f5f5f5;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 6px; 
}
.footer-column ul li a {
    text-decoration: none;
    color: #ccc;
}

.footer-bottom {
    text-align: start;
    font-size: 0.9rem;
    color: #aaa;
}

.footer-bottom hr {
    border: none;
    border-top: 1px solid #444;
    margin-bottom: 10px;
}